# Test Code for Prob & Stats Final Project

In [1]:
import datetime
import numpy as np
import pandas as pd
%matplotlib inline
import pandas_datareader.data as web
import fix_yahoo_finance as yf
from pandas_datareader import data as web
import yfinance as yf

In [3]:
dft= yf.download(('AAL','DAL','UAL','JBLU', 'LUV'), start = '2020-03-01', end='2021-06-01') #start date is 2013/1/1 and end date is 2013/1/2
dft

[*********************100%***********************]  5 of 5 completed

                           Adj Close                                   \
                                 AAL        DAL       JBLU        LUV
Date
2020-03-02 00:00:00-05:00  18.860001  47.160000  15.570000  46.770000
2020-03-03 00:00:00-05:00  17.850000  46.180000  15.010000  45.209999
2020-03-04 00:00:00-05:00  18.530001  48.500000  15.540000  46.930000
2020-03-05 00:00:00-05:00  16.040001  45.009998  13.860000  45.250000
2020-03-06 00:00:00-05:00  15.970000  45.889999  13.880000  45.730000
...                              ...        ...        ...        ...
2021-05-24 00:00:00-04:00  22.990000  46.169998  20.030001  60.680000
2021-05-25 00:00:00-04:00  23.209999  46.669998  19.860001  60.549999
2021-05-26 00:00:00-04:00  23.900000  47.490002  20.330000  61.209999
2021-05-27 00:00:00-04:00  24.430000  48.049999  20.549999  61.730000
2021-05-28 00:00:00-04:00  24.240000  47.680000  20.100000  61.459999

                                          Close                        \
                                 UAL        AAL        DAL       JBLU
Date
2020-03-02 00:00:00-05:00  61.259998  18.860001  47.160000  15.570000
2020-03-03 00:00:00-05:00  58.290001  17.850000  46.180000  15.010000
2020-03-04 00:00:00-05:00  59.470001  18.530001  48.500000  15.540000
2020-03-05 00:00:00-05:00  51.590000  16.040001  45.009998  13.860000
2020-03-06 00:00:00-05:00  52.099998  15.970000  45.889999  13.880000
...                              ...        ...        ...        ...
2021-05-24 00:00:00-04:00  56.139999  22.990000  46.169998  20.030001
2021-05-25 00:00:00-04:00  56.980000  23.209999  46.669998  19.860001
2021-05-26 00:00:00-04:00  58.009998  23.900000  47.490002  20.330000
2021-05-27 00:00:00-04:00  59.130001  24.430000  48.049999  20.549999
2021-05-28 00:00:00-04:00  58.349998  24.240000  47.680000  20.100000

                                                 ...       Open             \
                                 LUV        UAL  ...        AAL        DAL
Date                                             ...
2020-03-02 00:00:00-05:00  46.950001  61.259998  ...  19.049999  46.220001
2020-03-03 00:00:00-05:00  45.209999  58.290001  ...  19.660000  49.810001
2020-03-04 00:00:00-05:00  46.930000  59.470001  ...  18.360001  47.500000
2020-03-05 00:00:00-05:00  45.250000  51.590000  ...  17.540001  46.500000
2020-03-06 00:00:00-05:00  45.730000  52.099998  ...  15.020000  43.470001
...                              ...        ...  ...        ...        ...
2021-05-24 00:00:00-04:00  60.680000  56.139999  ...  22.850000  45.570000
2021-05-25 00:00:00-04:00  60.549999  56.980000  ...  23.450001  47.410000
2021-05-26 00:00:00-04:00  61.209999  58.009998  ...  23.530001  47.049999
2021-05-27 00:00:00-04:00  61.730000  59.130001  ...  24.030001  48.000000
2021-05-28 00:00:00-04:00  61.459999  58.349998  ...  24.389999  48.049999

                                                              Volume  \
                                JBLU        LUV        UAL       AAL
Date
2020-03-02 00:00:00-05:00  15.820000  46.540001  61.130001  38738000
2020-03-03 00:00:00-05:00  16.080000  47.540001  63.139999  35402500
2020-03-04 00:00:00-05:00  15.250000  45.889999  59.509998  44362100
2020-03-05 00:00:00-05:00  14.910000  45.060001  57.110001  44656800
2020-03-06 00:00:00-05:00  13.110000  43.560001  48.610001  54505000
...                              ...        ...        ...       ...
2021-05-24 00:00:00-04:00  19.520000  60.459999  56.000000  26159300
2021-05-25 00:00:00-04:00  20.400000  61.709999  57.650002  50630500
2021-05-26 00:00:00-04:00  20.010000  60.750000  57.750000  29812700
2021-05-27 00:00:00-04:00  20.540001  61.610001  58.590000  36389500
2021-05-28 00:00:00-04:00  20.530001  61.630001  58.950001  30594400


                                DAL      JBLU       LUV       UAL
Date
2020-03-02 00:00:00-05:00  20098700  12108200   9043200  13015200
2020-03-03 00:00:00-05:00  26344100  10002500   7338100   9208800
2020-03-04 00:00:00-05:00  20381800  14953200   8990300  10671200
2020-03-05 00:00:00-05:00  22918800  14201100  10774800  13974700
2020-03-06 00:00:00-05:00  25809300  15994700  10708100  16492200
...                             ...       ...       ...       ...
2021-05-24 00:00:00-04:00   8409100   4915800   4038100   9470700
2021-05-25 00:00:00-04:00  14657000   9512700   7029200  23605700
2021-05-26 00:00:00-04:00   9746200   4638100   4526600  11697300
2021-05-27 00:00:00-04:00   8680700   3860500   4437900  12307500
2021-05-28 00:00:00-04:00   8370300   5053700   3517100  14357300

[315 rows x 30 columns]